In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('payment_transactions.csv')
df.head(10)

,Transaction ID,Transaction Date,Customer ID,Payment Method,Transaction Amount,Transaction Status,Merchant ID,Region,Currency,Transaction Hour
0,TX1000,2024-10-30 06:02:00,CUST189,PayPal,451,Successful,M1049,Asia,USD,6
1,TX1001,2024-11-18 10:10:00,CUST108,Credit Card,461,Successful,M1006,Europe,JPY,10
2,TX1002,2024-06-11 09:59:00,CUST165,PayPal,427,Pending,M1019,North America,EUR,9
3,TX1003,2024-10-27 07:39:00,CUST140,PayPal,309,Successful,M1027,Europe,EUR,7
4,TX1004,2024-07-29 20:30:00,CUST173,Credit Card,380,Successful,M1025,North America,USD,20
5,TX1005,2024-05-27 20:43:00,CUST105,Debit Card,350,Successful,M1039,North America,EUR,20
6,TX1006,2024-12-26 20:44:00,CUST140,Credit Card,447,Successful,M1025,Europe,USD,20
7,TX1007,2024-10-19 16:21:00,CUST152,Debit Card,475,Successful,M1014,Asia,EUR,16
8,TX1008,2024-11-05 13:05:00,CUST187,Bank Transfer,413,Successful,M1026,North America,USD,13
9,TX1009,2024-12-02 01:54:00,CUST143,Bank Transfer,514,Failed,M1004,Europe,EUR,1

##### Check for missing values

In [3]:
print("\nMissing Values:\n", df.isnull().sum())

Missing Values:
 Transaction ID        0
Transaction Date      0
Customer ID           0
Payment Method        0
Transaction Amount    0
Transaction Status    0
Merchant ID           0
Region                0
Currency              0
Transaction Hour      0
dtype: int64

##### Check data types

In [4]:
print("\nData Types:\n", df.dtypes)

Data Types:
 Transaction ID        object
Transaction Date      object
Customer ID           object
Payment Method        object
Transaction Amount     int64
Transaction Status    object
Merchant ID           object
Region                object
Currency              object
Transaction Hour       int64
dtype: object

##### Transaction Date is in datetime format

In [31]:
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'])

In [6]:
print("\nSummary Statistics:\n", df.describe())

Summary Statistics:
                     Transaction Date  Transaction Amount  Transaction Hour
count                            100          100.000000        100.000000
mean   2024-07-13 06:47:07.199999488          421.200000         11.090000
min              2024-01-05 22:03:00          306.000000          0.000000
25%              2024-04-21 01:24:00          349.000000          6.000000
50%              2024-07-12 18:15:30          416.000000         12.000000
75%              2024-10-06 05:59:00          489.000000         16.000000
max              2024-12-27 02:01:00          548.000000         23.000000
std                              NaN           77.121968          6.287867

In [7]:
df['Transaction Date']

0    2024-10-30 06:02:00
1    2024-11-18 10:10:00
2    2024-06-11 09:59:00
3    2024-10-27 07:39:00
4    2024-07-29 20:30:00
             ...
95   2024-04-08 12:39:00
96   2024-09-03 20:47:00
97   2024-09-29 07:01:00
98   2024-06-25 14:23:00
99   2024-11-25 16:21:00
Name: Transaction Date, Length: 100, dtype: datetime64[ns]

##### derived columns

In [32]:
df['Transaction Hour'] = df['Transaction Date'].dt.hour  # Hour of the transaction
df['Transaction Day'] = df['Transaction Date'].dt.day    # Day of the transaction
df['Transaction Month'] = df['Transaction Date'].dt.month  # Month of the transaction
df['Transaction Year'] = df['Transaction Date'].dt.year    # Year of the transaction

In [33]:
df.to_csv('payment_transactions.csv', index=False)

In [34]:
df

,Transaction ID,Transaction Date,Customer ID,Payment Method,Transaction Amount,Transaction Status,Merchant ID,Region,Currency,Transaction Hour,Transaction Day,Transaction Month,Transaction Year
0,TX1000,2024-10-30 06:02:00,CUST189,PayPal,451,Successful,M1049,Asia,USD,6,30,10,2024
1,TX1001,2024-11-18 10:10:00,CUST108,Credit Card,461,Successful,M1006,Europe,JPY,10,18,11,2024
2,TX1002,2024-06-11 09:59:00,CUST165,PayPal,427,Pending,M1019,North America,EUR,9,11,6,2024
3,TX1003,2024-10-27 07:39:00,CUST140,PayPal,309,Successful,M1027,Europe,EUR,7,27,10,2024
4,TX1004,2024-07-29 20:30:00,CUST173,Credit Card,380,Successful,M1025,North America,USD,20,29,7,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,TX1095,2024-04-08 12:39:00,CUST110,Credit Card,533,Successful,M1050,Asia,JPY,12,8,4,2024
96,TX1096,2024-09-03 20:47:00,CUST171,Debit Card,480,Successful,M1008,Asia,EUR,20,3,9,2024
97,TX1097,2024-09-29 07:01:00,CUST199,PayPal,533,Successful,M1049,Asia,USD,7,29,9,2024
98,TX1098,2024-06-25 14:23:00,CUST181,Debit Card,407,Successful,M1018,Europe,JPY,14,25,6,2024
99,TX1099,2024-11-25 16:21:00,CUST123,PayPal,488,Successful,M1030,Europe,USD,16,25,11,2024

##### Calculate KPIs

In [18]:
kpis = {}

# Total Transaction Volume
kpis['Total Transaction Volume'] = df['Transaction Amount'].sum()

# Average Transaction Value (ATV)
kpis['Average Transaction Value'] = df['Transaction Amount'].mean()

# Payment Success Rate
successful_transactions = df[df['Transaction Status'] == 'Successful']
kpis['Payment Success Rate (%)'] = (len(successful_transactions) / len(df)) * 100

# Revenue by Payment Method
revenue_by_payment_method = df.groupby('Payment Method')['Transaction Amount'].sum()

# Transaction Failure Rate
failed_transactions = df[df['Transaction Status'] == 'Failed']
kpis['Transaction Failure Rate (%)'] = (len(failed_transactions) / len(df)) * 100

# Peak Transaction Hours
peak_hours = df.groupby('Transaction Hour')['Transaction ID'].count().sort_values(ascending=False).head(3)

# Display KPIs
print(kpis)

{'Total Transaction Volume': 42120, 'Average Transaction Value': 421.2, 'Payment Success Rate (%)': 76.0, 'Transaction Failure Rate (%)': 12.0}

In [19]:
print(revenue_by_payment_method)

Payment Method
Bank Transfer     8700
Credit Card      10867
Debit Card       11818
PayPal           10735
Name: Transaction Amount, dtype: int64

In [20]:
print(peak_hours)

Transaction Hour
12    8
8     8
16    7
Name: Transaction ID, dtype: int64

In [23]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.1.0-cp311-cp311-macosx_13_0_arm64.whl.metadata (6.0 kB)
Downloading mysql_connector_python-9.1.0-cp311-cp311-macosx_13_0_arm64.whl (15.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.1/15.1 MB 5.4 MB/s eta 0:00:00a 0:00:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.1.0

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [24]:
import mysql.connector

# Establish connection
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='sweety30',
    database='payment_analytics'
)
cursor = conn.cursor()

In [35]:
import pandas as pd

# Load the CSV file
df = pd.read_csv('payment_transactions.csv')

# Insert data into the transactions table
for _, row in df.iterrows():
    cursor.execute("""
        INSERT INTO transactions (transaction_id, transaction_date, customer_id, payment_method, transaction_amount, transaction_status, merchant_id, region, currency, transaction_hour, transaction_day, transaction_month, transaction_year)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """, tuple(row))

conn.commit()
print("Dataset inserted successfully!")

Dataset inserted successfully!

In [36]:
# Example KPIs dictionary
kpis = {
    "Total Transaction Volume": 44948.00,
    "Average Transaction Value": 449.48,
    "Payment Success Rate (%)": 79.0,
    "Transaction Failure Rate (%)": 7.0
}

# Insert KPIs into the kpis table
for kpi_name, kpi_value in kpis.items():
    cursor.execute("""
        INSERT INTO kpis (kpi_name, kpi_value)
        VALUES (%s, %s)
    """, (kpi_name, kpi_value))

conn.commit()
print("KPIs inserted successfully!")

KPIs inserted successfully!

In [37]:
# Close the connection
cursor.close()
conn.close()